<section class="backgrounde">
    <h1>VINCI COURT</h1>

    <h2>Les Racines de Vinci Court</h2>
    <p>Il y a plusieurs décennies à Bruges, un groupe de passionnés de tennis se réunit avec l'ambition de créer leur propre club. Après des discussions passionnées et un travail acharné, ils concrétisent leur rêve en fondant Vinci Court, un club de tennis dédié à l'élégance et à la maîtrise du sport. Avec dévouement, ils construisent le club, qui devient un lieu de rassemblement pour la communauté, célébrant le tennis et promouvant l'esprit de camaraderie. Aujourd'hui, l'héritage de Vinci Court perdure, symbolisant la beauté du tennis et le pouvoir de la communauté.</p>



    <h3>Statistique de Vinci Court</h3>

    <p>Nombres des prochains tournois : {{upcomingTournamentsCount}}</p>

        <p>nombre de réservations de terrain : {{nbrCourt}} </p>

    {{#each nbrMessage}}
        <p>nombre de messages envoyés : {{this.messagesEnvoyes}}  </p>    
    {{/each}}
</section>
</section>
